/*CSS RESET*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

li {
    list-style-type: none;
}


  
/*MY CSS*/

* {
    border: 1px solid;
}

.container {
    display: grid;
    grid-template-columns: 235px 3fr 1fr;
    grid-template-rows: 145px 1fr;
}

.icon-small {
    width: 21px;
    height: 21px;
    margin: 10px;
}

/*DASHBOARD*/

.dashboard {
    grid-row: 1 / span 2;
    background-color: #1992d4;
    color: white;
    padding: 10px;
}

.dashboard > * {
    padding-bottom: 20px;
}

.dashboard-title p {
    display: flex;
    align-items: center;
}

.dashboard li {
    display: flex;
    padding: 10px;
    align-items: center;
}

.dashboard-icon {
    fill: white;
    height: 40px;
}

.icon-small.white {
    fill: white;
}

.profile-icon-small {
    height: 50px;
}

/*HEADER*/

.header {
    grid-column: 2 / span 2;
    padding: 10px 25px;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-search-bar {
    display: flex;
    align-items: center;
}

#search-bar {
    width: 450px;
    border-radius: 13px;
    border: none;
    background-color: #e2e8f0;
}

.header-top-misc {
    justify-self: end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.profile-clickable {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-welcome {
    justify-self: start;
    display: flex;
    align-items: center;
    grid-template-columns: 100px 1fr;
}

.header-welcome-text {
    display: grid;
}

.profile-icon {
    height: 75px;
    grid-row: 1 / span 2;
}

.header-bottom-misc {
    justify-self: end;
    display: flex;
    gap: 20px;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    */
    align-items: center;
}

.header-bottom-misc button {
    color: white;
    background-color: #1992d4;
    border-radius: 20px;
    padding: 3px 10px;
    width: 80px;
}

/*MAIN CONTENT*/

.main-content {
    display: grid;
    grid-template-rows: 1fr 20fr;
    padding: 0px 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.projects-title {
    
}

.project {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 0px;
}

/*NEWS*/

.trending-list li {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending-list li img {
    grid-row: 1 / span 2;
}